body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 8cqmin;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.form1 {
    max-width: 200px;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form2{
    max-width: 200px;
    text-align: center;
    border: #333;
}

.titre h1{
    text-align: center;
    color: #333;
    margin: 30px;
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form1 {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.form1 .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    background: transparent;

}
.input-box form1{
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2); 
    border-radius: 40px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
.input-box input::placeholder{
    color: #ffff;

}