/* Styles for the About Us page */

.about-container {

  max-width: 800px;
  margin: 90px auto 0; /* Ajout d'une marge en haut de 20px */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-container ul {
  margin-bottom: 20px;
}

.about-container ul li {
  margin-bottom: 10px;
}

.about-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.about-container a {
  color: #DD5D20;
  text-decoration: none;
  font-weight: bold;
}

.about-container a:hover {
  text-decoration: underline;
}

.about-container button {
  padding: 10px 20px;
  background-color: #DD5D20;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about-container button:hover {
  background-color: #c34f1a;
}
