*{
    margin: 10;
    padding: 20;
    box-sizing: border-box;  
}
body {
    font-family: Arial, sans-serif;
    background-color: #87CEEB;
    padding: 100px;
    background-position: center;
    background-color: aquamarine;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper h2 {
    text-align: center;
    color: #333;
    margin: 30px;
    padding: 30px;
}

.rating {
    text-align: center;
    margin-bottom: 20px;
}

.star {
    font-size: 75px;
    cursor: pointer;
    color: #ccc;
}

.star:hover,
.star.active {
    color: #ffcc00;
}

.form-group {
    margin-bottom: 600px;
}



textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}