.signup-container {
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(11, 10, 10, 0.997);
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-control {
  width: 100% ; /* Réduire la largeur pour accommoder l'icône */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 40px; /* Espacement pour l'icône */
}

.icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  align-items: center;
  color: #383838;
}

.btn-signup {
  width: 100%;
  padding: 10px;
  background-color: #DD5D20;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.btn-signup:hover {
  background-color: #5d6b7a;
}

.login-link a {
  color: #0c3565;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-link a:hover {
  color: #DD5D20;
}
